@import "tailwindcss";

html,
body,
#root {
  background: transparent !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: no-drag;
}

/* Ensure the root is always at least taking full space even when empty */
#root:empty {
  min-height: 100%;
}
